/*
#007bff
#6c757d
#28a745
#dc3545
#ffc107
#17a2b8
#343a40
#f8f9fa
*/
:root{
    --white:#fff;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --danger:#dc3545;
    --warning:#ffc107;
    --info:#17a2b8;
    --dark:#343a40;
    --light:#f8f9fa;
    
}
/* text color */
.test-primary{color:var(--primary);}
.test-secondary{color:var(--secondary);}
.test-sucsess{color:var(--success);}
.test-danger{color:var(--danger);}
.test-warning{color:var(--warning);}
.test-info{color:var(--ingo);}
.test-dark{color:var(--dark);}
.test-light{color:var(--light);}

/* bg-colors */
.bg-secondary {background-color:var(--secondary);}
.bg-primary {background-color:var(--primary);}
.bg-sucsess {background-color:var(--success);}
.bg-danger {background-color:var(--danger);}
.bg-warning {background-color:var(--warning);}
.bg-info{background-color:var(--info);}
.bg-dark {background-color:var(--dark);}
.bg-light {background-color:var(--light);}

.btn{
    cursor: pointer;
    display: inline-block;
    padding:10px 30px;
    border:none;
    border-radius:5px;
}

    .btn:hover{
        opacity:0.9;
    }
    .btn-primary{
        color:var(--white);
        background-color: var(--primary);
    }
    .btn-secondary{
        color:var(--white);
        background-color: var(--secondary);
    }
    .btn-danger{
        color:var(--white);
        background-color: var(--danger);
    }
    .btn-warning{
        color:var(--white);
        background-color: var(--warning);
    }
    .btn-dark{
        color:var(--white);
        background-color: var(--dark);
    }
    .btn-outline {
        background: transparent;
        border: 1px solid var(--white);
        color: var(--white);
    }

    .btn-outline-primary{
        background:transparent;
        border: 1px solid var(--primary);
        color: var(--dark);

    }
    .btn-outline-primary:hover{
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: var(--white);
    }
    /* flex items */
    

  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
  flex-basis: 100%;

}


.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
  flex-basis: 100%;

}

/* flex columns */
.flex-columns.flex-reverse.row{
    flex-direction: row-reverse;
    
}




.flex-columns .row{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .flex-columns .column{
    flex: 1;
  }
  
  .flex-columns .column .column-1,
  .flex-columns .column .column-2 {
    height: 100%;
  
  }
  
  .flex-columns .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
  
  }
  /* flex grid */
  






